body {
    text-align: center;
    margin: 0px;
    font-size: smaller;
    line-height: 1.6em;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

td {
    vertical-align: top;
}

hr {
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 500px;
    width: 80%;
}

input[type=checkbox], input[type=button], label {
    cursor: hand;
}

#options ul {
    list-style: none;
}

#options li {
    padding-bottom: 5px;
    padding-top: 5px;
}

.header-parent {
    display: table;
    padding: 20px 0px;
    width: 100%;
    background: #ddd;
    box-shadow: 0px 1px 1px #aaa, 0px 4px 4px #ddd;
    margin: 0 auto;
}

.header-child {
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
    color: #333;
}

.header-title {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
}

.header-menu {
    white-space: nowrap;
}

.header-menu-item {
    margin-left: 40px;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0px 20px 40px 20px;
    width: 80%;
    min-width: 300px;
    max-width: 600px;
}

.header-menu-item > a {
    color: black;
    text-decoration: none;
}

.header-menu-item > a:hover {
    color: #38d;
    text-decoration: underline;
}

.footer-parent {
    display: table;
    padding: 10px 0px;
    width: 100%;
    background: #ddd;
    box-shadow: 0px -1px 1px #ccc, 0px -2px 2px #eee;
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
    text-transform: uppercase;
    font-size: smaller;
}

.footer-child {
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
}

.footer-child > a {
    color: black;
    text-decoration: none;
}

.footer-child > a, .footer-child > span {
    padding: 0px 10px;
}

.footer-child > a.fa {
    padding: 0px 5px;
}

.footer-child > a.fa:hover {
    text-decoration: none;
}
.footer-child > a:hover {
    color: #38d;
    text-decoration: underline;
}

.pane-title {
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #333;
}

.pane-subtitle {
    font-size:x-large;
    color: #555;
}

.pane-section {
    padding-bottom: 10;
    width: 90%;
    margin: auto;
}

.option_section_header {
    font-weight: bold;
    font-size: larger;
    padding-top: 15px;
}

.option_note {
    font-size: smaller;
    color: #999;
}

.disabled_option {
    pointer-events: none;
    opacity: 0.6;
}
