#global-nav-home, .moments, .notifications, .dm-nav, .bird-topbar-etched, #global-nav-search, #user-dropdown, .topbar-tweet-btn,
.Trends, .wtf-module, .LiveVideoHomePageModuleContainer, .Footer,
.DashboardProfileCard, .ProfileCardStats-statList,
.inline-reply-tweetbox, .ProfileTweet-action--reply, .Icon--reply,
.ProfileHeaderCard, .ProfileCanopy-navBar, .ProfileUserList, .PhotoRail, .TweetImpressionsModule,
.AdaptiveFiltersBar, .AdaptiveNewsSmallImageHeadline, .AdaptiveNewsLargeImageHeadline, .AdaptiveNewsRelatedHeadlines,
.SidebarFilterModule, .AdaptiveRelatedSearches, .SearchNavigation-canopy
{
    visibility: collapse;
}

/* Most elements can be hidden without much issue,
   but some leave an obnoxiously large empty area  */
.ProfileCanopy-header, .replies-to, .topbar {
    display: none;
}

/*.ProfileCanopy {
    height: 0px !important;
}*/
